<%- include('layout') %>

<div class="jumbotron">
    <h1 class="display-4">Welcome to Smart Recipe Recommender!</h1>
    <p class="lead">Discover delicious recipes tailored to your taste and preferences.</p>
    <hr class="my-4">
    <p>Get started by browsing our collection of recipes.</p>
    <a class="btn btn-primary btn-lg" href="/recipes" role="button">View Recipes</a>
</div>